<div class="row mb-3" *ngFor="let educacao of educacoes">
    <div class="col-12">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title>{{educacao?.sigla}}</mat-card-title>
                    <mat-card-subtitle>{{educacao?.nome}}</mat-card-subtitle>
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>

                <div class="row mt-4">
                    <div class="col-2">
                        <img src="{{educacao.imagem}}" [title]="educacao?.nome">
                    </div>

                    <div class="col-10">

                        <div>
                            <span class="titulo-card">{{educacao.curso}}</span>
                            <mat-card-subtitle>{{educacao?.dataInicio | date: 'MM/yyyy'}}
                                - {{educacao?.dataFim | date:'MM/yyyy'}}</mat-card-subtitle>
                        </div>

                    </div>

                </div>

            </mat-card-content>
        </mat-card>
    </div>
</div>