h2 {
    text-align: center;
    margin-bottom: 35px;
}

.row {
    justify-content: center;
}

.fi {
    margin-right: 10px;
    width: 14px;
}

.text {
    margin-bottom: 50px;
}

.icon {
    font-size: 22px !important; 
}

.link {
    font-size: 18px;
}

.textSpan {
    font-size: 20px;
}

.link:hover {
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2) !important;
}