<h2>Contatos</h2>


<div class="row mb-3" *ngFor="let con of contatos">
    <div class="col-12 col-md-6">
        <mat-card class="example-card">

            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title>{{con?.text}}</mat-card-title>
                    <mat-card-subtitle *ngIf="con.subText != null">{{con?.subText}}</mat-card-subtitle>
                </mat-card-title-group>
            </mat-card-header>

            <mat-card-content>

                <div class="row mt-4">
                    <div class="col-2 col-lg-3">
                        <i [className]="con?.icon"></i>
                        <!-- <img src="{{con.imagem}}" [title]="con?.nome"> -->
                    </div>

                    <div class="col-10 col-lg-9">

                        <div>
                            <span class="titulo-card">{{con?.curso}}</span>
                            <a href="{{con.link}}" class="contato-link" target="_blank">
                                <i class="fi fi-rr-arrow-up-right"></i> <span class="link">{{con.span}}</span>
                            </a>
                        </div>

                    </div>

                </div>

            </mat-card-content>
        </mat-card>
    </div>
</div>