<div class="container">

  <nav class="navbar navbar-expand-lg navbar-light header">
    <img class="logo-header navbar-brand" src="./assets/images/jm.jpg" slot="image" routerLink="" />

    <span class="title-name">
      {{nameTitle}}
      <hr class="name">
    </span>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="header">

        <div class="div-menu" *ngFor="let item of menuItems">

          <span class="title">
            <button class="btn-menu router" routerLinkActive="active-link" routerLink="{{item.routerLink}}">
              <i class="{{item.icon}} first">
                {{item.label}}
              </i>
            </button>
          </span>

        </div>

      </div>

    </div>
  </nav>

  <hr>

  <router-outlet></router-outlet>

</div>