<mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === i" (opened)="setStep(i)" hideToggle
        *ngFor="let item of experiencias; let i = index">
        <mat-expansion-panel-header>

            <mat-panel-title>
                {{item.empresa}}
            </mat-panel-title>

        </mat-expansion-panel-header>

        <div class="row">

            <div class="col-2">
                <img src="{{item.imagem}}">
            </div>


            <div class="col-10">

                <!-- cargo -->
                <div class="row">

                    <div class="col">
                        <h3>{{item.cargo}}</h3>
                    </div>

                </div>

                <!-- datas -->
                <div class="row">

                    <div class="col datas">
                        <span>{{item.dataInicio | date: 'MM/yyyy'}} - </span>
                        <span *ngIf="item.dataFim != null">{{item.dataFim | date: 'MM/yyyy'}}</span>
                        <span *ngIf="item.dataFim == null">Atualmente</span>

                    </div>

                </div>

                <!-- atividades -->
                <div class="row">

                    <h5>Atividades</h5>
                    <div class="col">

                        <ul *ngFor="let ativ of item.atividades">
                            <li>
                                {{ativ}}
                            </li>
                        </ul>

                    </div>

                </div>

                <!-- clientes -->
                <div class="row" *ngIf="item.clientes">

                    <h5>Clientes</h5>
                    <div class="col">

                        <ul *ngFor="let cliente of item.clientes">
                            <li>
                                {{cliente}}
                            </li>
                        </ul>

                    </div>


                </div>

                <!-- tecnologias -->
                <div class="row">

                    <h5>Tecnologias</h5>
                    <div class="col">

                        <ul *ngFor="let tecnologia of item.tecnologias">
                            <li>
                                {{tecnologia}}
                            </li>
                        </ul>

                    </div>


                </div>

            </div>


        </div>

        <mat-action-row>
            <button mat-button color="warn" class="btnAccordion" *ngIf="i != 0" (click)="prevStep()">
                Anterior
            </button>

            <button mat-button color="primary" class="btnAccordion" *ngIf="i + 1 != experiencias.length" (click)="nextStep()">
                Próximo
            </button>
        </mat-action-row>

    </mat-expansion-panel>

</mat-accordion>